<?xml version="1.0" encoding="utf-8"?>
<!-- (C) Ole Streicher, 2024 -->
<installer-gui-script minSpecVersion="1">
    <product id="community.iraf" version="@@RELEASE@@"/>
    <title>Community IRAF @@RELEASE@@</title>
    <background file="logo.png" mime-type="image/png" alignment="bottomleft"/>
    <welcome file="welcome.html"/>
    <conclusion file="conclusion.html"/>
    <domains enable_anywhere="false" enable_currentUserHome="false"
	     enable_localSystem="true"/>
    <volume-check>
      <allowed-os-versions>
        <os-version min="@@MINVERSION@@"/>
      </allowed-os-versions>
    </volume-check>
    <options customize="always" require-scripts="false" rootVolumeOnly="true"
	     hostArchitectures="@@MACARCH@@"/>
    <choices-outline>
      <line choice="community.iraf.core"/>
      <line choice="community.iraf.x11iraf"/>
      <line choice="community.iraf.external">
	<line choice="community.iraf.ctio"/>
	<line choice="community.iraf.fitsutil"/>
	<line choice="community.iraf.mscred"/>
	<line choice="community.iraf.rvsao"/>
	<line choice="community.iraf.sptable"/>
	<line choice="community.iraf.st4gem"/>
	<line choice="community.iraf.xdimsum"/>
      </line>
    </choices-outline>
    <choice id="community.iraf.core" title="IRAF core" enabled="false">
      <pkg-ref id="community.iraf.core">core.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.x11iraf" title="xgterm and ximtool">
      <pkg-ref id="community.iraf.x11iraf">x11iraf.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.external" title="External packages"/>
    <choice id="community.iraf.ctio" title="ctio" start_selected="false">
      <pkg-ref id="community.iraf.ctio">ctio.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.fitsutil" title="fitsutil" start_selected="false">
      <pkg-ref id="community.iraf.fitsutil">fitsutil.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.mscred" title="mscred" start_selected="false">
      <pkg-ref id="community.iraf.mscred">mscred.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.rvsao" title="rvsao" start_selected="false">
      <pkg-ref id="community.iraf.rvsao">rvsao.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.sptable" title="sptable" start_selected="false">
      <pkg-ref id="community.iraf.sptable">sptable.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.st4gem" title="st4gem" start_selected="false">
      <pkg-ref id="community.iraf.st4gem">st4gem.pkg</pkg-ref>
    </choice>
    <choice id="community.iraf.xdimsum" title="xdimsum" start_selected="false">
      <pkg-ref id="community.iraf.xdimsum">xdimsum.pkg</pkg-ref>
    </choice>
</installer-gui-script>
